In [6]:
import pandas as pd
import numpy as np

In [8]:
df= pd.read_csv('Salary.csv')

In [9]:
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891